.titulo{
    padding-top: 3rem;
}

.divR{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Btext, .Minitext{
    font-size: 300px;
    color: var(--red);
    font-weight: bold;
}

.Minitext{
    font-size: 1.5rem;
}